.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  transition: 0.4s;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__toggle,
  &__close {
    color: $title-color;
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-flex;
    column-gap: 0.5rem;
    transition: 0.3s;
    align-items: center;

    &-icon {
      font-size: 1.25rem;
    }

    &:hover {
      color: $first-color;
    }
  }

  &__toggle,
  &__shop {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
    color: $title-color;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      background-color: $body-color;
      width: 100%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -2px 0 4px hsla(152, 24%, 15%, 0.1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: 0.3s;
    }
  }

  &__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }

  &__link {
    color: $title-color;
    font-weight: $font-medium;
    transition: 0.3s;

    &:hover {
      color: $first-color;
    }
  }
}

.scroll-header {
  box-shadow: 0 1px 4px hsla(152, 4%, 15%, 0.1);
  background-color: $body-color;
}

.active-link {
  position: relative;
  color: $first-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $first-color;
  }
}

.show-menu {
  right: 0;
}
