@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: #090821;
    color: #fff;
    height: 100vh;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 30px 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}


/* =========== BUTTON 1 ========== */

.button1 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.button1::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.button1:hover {
    cursor: pointer;
    color: #161616;
}

.button1:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

.button1 {
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}


/* =========== BUTTON 2 ========== */

.button2 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.button2::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.button2:hover {
    cursor: pointer;
    color: #161616;
}

.button2:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


/* =========== BUTTON 3 ========== */

.button3 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.button3::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.button3:hover {
    cursor: pointer;
    color: #161616;
}

.button3:hover::before {
    transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
}


/* =========== BUTTON 4 ========== */

.button4 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.button4::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.button4:hover {
    cursor: pointer;
    color: #161616;
}

.button4:hover::before {
    transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
}


/* =========== BUTTON 5 ========== */

.button5 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.button5::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.button5:hover {
    cursor: pointer;
    color: #161616;
}

.button5:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


/* ========== BUTTON JELLY ========== */

.jelly {
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.jelly:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

@keyframes jelly {
    0%,
    100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}


/* ========== BUTTON PULSE ========== */

.pulse {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.pulse:hover {
    cursor: pointer;
}

.pulse::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid hsl(236, 32%, 26%);
    transform-origin: center;
    transform: scale(1);
}

.pulse:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}


/* ========== BUTTON SHINE ========== */

.shine {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    cursor: pointer;
}

.shine::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-525%, 0, 0) rotate(35deg);
}

.shine:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
}


/* ========== BUTTON SLIDE 1 ========== */

.slide1 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.slide1::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc2f70;
    transform-origin: center bottom;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
}

.slide1:hover {
    cursor: pointer;
}

.slide1:hover::before {
    transform-origin: center top;
    transform: scaleY(1);
}


/* ========== BUTTON SLIDE 2 ========== */

.slide2 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.slide2::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc2f70;
    transform-origin: center left;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.slide2:hover {
    cursor: pointer;
}

.slide2:hover::before {
    transform-origin: center right;
    transform: scaleX(1);
}


/* ========== BUTTON SLIDE 3 ========== */

.slide3 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.slide3::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc2f70;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.slide3:hover {
    cursor: pointer;
}

.slide3:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}


/* ========== BUTTON SLIDE 4 ========== */

.slide4 {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.slide4::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc2f70;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
}

.slide4:hover {
    cursor: pointer;
}

.slide4:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
}


/* =========== INPUTS ============ */

.inputs {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


/* ============= INPUT2 ============ */

.input1 {
    position: relative;
}

.input1>input {
    width: 6.5rem;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: hsl(236, 32%, 26%);
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.input1>input {
    outline: none;
}

.input1>input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

.input1>span {
    position: absolute;
    background-color: #3cefff;
    transition: transform 0.5s ease;
}

.input1>.bottom,
.input1>.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.input1>.left,
.input1>.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.input1>.bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.input1>input:focus~.bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.input1>.right {
    right: 0;
    transform-origin: top right;
}

.input1>input:focus~.right {
    transform-origin: bottom right;
    transform: scaleY(1);
}

.input1>.top {
    top: 0;
    transform-origin: top left;
}

.input1>input:focus~.top {
    transform-origin: top right;
    transform: scaleX(1);
}

.input1>.left {
    left: 0;
    transform-origin: bottom left;
}

.input1>input:focus~.left {
    transform-origin: top left;
    transform: scaleY(1);
}


/* ============= INPUT2 ============ */

.input2 {
    position: relative;
}

.input2>input {
    width: 6.5rem;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: hsl(236, 32%, 26%);
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.input2>input:focus {
    outline: none;
}

.input2>input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

.input2>span {
    position: absolute;
    background-color: #fc2f70;
    transform-origin: center;
    transition: transform 0.5s ease;
}

.input2>.bottom,
.input2>.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.input2>.left,
.input2>.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.input2>.top {
    top: 0;
}

.input2>.bottom {
    bottom: 0;
}

.input2>.left {
    left: 0;
}

.input2>.right {
    right: 0;
}

.input2>input:focus~.top,
.input2>input:focus~.bottom {
    transform: scaleX(1);
}

.input2>input:focus~.left,
.input2>input:focus~.right {
    transform: scaleY(1);
}


/* =========== INPUT 3 ============ */

.input3 {
    position: relative;
}

.input3>input {
    width: 6.5em;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: hsl(236, 32%, 26%);
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.input3>input:focus {
    outline: none;
}

.input3>input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

.input3>span {
    position: absolute;
    background-color: #fc2f70;
    transition: transform 0.1s ease;
}

.input3>.bottom,
.input3>.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.input3>.left,
.input3>.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.input3>.bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.input3>input:focus~.bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.input3>.right {
    right: 0;
    transform-origin: top right;
    transition-delay: 0.05s;
}

.input3>input:focus~.right {
    transform-origin: bottom right;
    transform: scaleY(1);
}

.input3>.top {
    top: 0;
    transform-origin: top left;
    transition-delay: 0.15s;
}

.input3>input:focus~.top {
    transform-origin: top right;
    transform: scaleX(1);
}

.input3>.left {
    left: 0;
    transform-origin: bottom left;
    transition-delay: 0.25s;
}

.input3>input:focus~.left {
    transform-origin: top left;
    transform: scaleY(1);
}


/* =========== INPUT 4 =========== */

.input4 {
    position: relative;
    display: flex;
}

.input4>input {
    width: 6.5em;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: hsla(185, 100%, 62%, 0.2);
}

.input4>input:focus {
    outline: none;
}

.input4>input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

.input4>span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #3cefff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.input4>input:focus~span {
    transform-origin: bottom left;
    transform: scaleX(1);
}


/* =========== INPUT 5 ============= */

.input5 {
    position: relative;
    display: flex;
}

.input5>input {
    width: 6.5em;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: hsla(341, 97%, 59%, 0.2);
}

.input5>input:focus {
    outline: none;
}

.input5>input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

.input5>span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 1px;
    opacity: 0;
    background-color: #fc2f70;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: all 0.3s ease;
}

.input5>input:focus~span {
    transform: translate(-50%, 0) scaleX(1);
    opacity: 1;
}


/* ============ LOADING ANIMATIONS =========== */

.loading__animations {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 90px;
    height: 200px;
    align-items: center;
    justify-self: center;
}

.loading__animations div {
    align-self: center;
    justify-self: center;
}


/* div {
    display: inline-block;
} */


/* =========== ANIMATION 1 =========== */

.animation1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 2em;
}

.animation1>span {
    width: 0.3em;
    height: 1em;
    background-color: #3cefff;
}

.animation1>span:nth-of-type(1) {
    animation: grow 1s -0.45s ease-in-out infinite;
}

.animation1>span:nth-of-type(2) {
    animation: grow 1s -0.3s ease-in-out infinite;
}

.animation1>span:nth-of-type(3) {
    animation: grow 1s -0.15s ease-in-out infinite;
}

.animation1>span:nth-of-type(4) {
    animation: grow 1s ease-in-out infinite;
}

@keyframes grow {
    0%,
    100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2);
    }
}


/* =========== ANIMATION 2 =========== */

.animation2 {
    position: relative;
    width: 2em;
    height: 2em;
    border: 3px solid #3cefff;
    overflow: hidden;
    animation: spin1 3s ease infinite;
}

.animation2::before {
    content: '';
    position: absolute;
    /* top: -3px;
    left: -3px; */
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background-color: hsla(185, 100%, 62%, 0.75);
    transform-origin: center bottom;
    transform: scaleY(1);
    animation: fill 3s linear infinite;
}

@keyframes spin1 {
    50%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fill {
    25%,
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}


/* =========== ANIMATIO 3 ========== */

.box {
    perspective: 120px;
}

.coin {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 4px solid #3cefff;
    animation: spin2 1.5s ease-in-out infinite;
}

@keyframes spin2 {
    to {
        transform: rotateY(540deg);
    }
}


/* ============ ANIMATION 4 ========== */

.balls {
    width: 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.balls div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
}

.balls div:nth-of-type(1) {
    transform: translateX(-100%);
    animation: left-swing 0.5s ease-in alternate infinite;
}

.balls div:nth-of-type(3) {
    transform: translateX(-95%);
    animation: right-swing 0.5s ease-out alternate infinite;
}

@keyframes left-swing {
    50%,
    100% {
        transform: translateX(95%);
    }
}

@keyframes right-swing {
    50% {
        transform: translateX(-95%);
    }
    100% {
        transform: translateX(100%);
    }
}


/* ============ ANIMATIO 5 ========== */

.animation5 {
    width: 1.5em;
    height: 1em;
    border: 3px solid transparent;
    border-top-color: #fc2f70;
    border-bottom-color: #fc2f70;
    border-radius: 50%;
    animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
    50% {
        transform: rotate(360deg) scale(0.4, 0.33);
        border-width: 8px;
    }
    100% {
        transform: rotate(720deg) scale(1, 1);
        border-width: 3px;
    }
}


/* ========== ANIMATION 6 ========== */

.dots {
    width: 3.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.dots div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
    animation: fade 0.8s ease-in-out alternate infinite;
}

.dots div:nth-of-type(1) {
    animation-delay: -0.4s;
}

.dots div:nth-of-type(2) {
    animation-delay: -0.2s;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* =========== ANIMATION 7 ============ */

.box1 {
    perspective: 120px;
}

.plane {
    width: 2em;
    height: 2em;
    background-color: #fc2f70;
    transform: rotate(0);
    animation: flip 1s infinite;
}

@keyframes flip {
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(180deg) rotateX(180deg);
    }
}


/* =========== ANIMATION 8 ========== */

.dots {
    width: 3em;
    height: 3em;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.dots>div {
    width: 0.5em;
    height: 0.5em;
    background-color: #3cefff;
    border-radius: 50%;
    animation: fade 1.5s alternate ease-in-out infinite;
}

.dots>div:nth-of-type(2),
.dots>div:nth-of-type(4) {
    animation-delay: 0.25s;
}

.dots>div:nth-of-type(3),
.dots>div:nth-of-type(5),
.dots>div:nth-of-type(7) {
    animation-delay: 0.5s;
}

.dots>div:nth-of-type(6),
.dots>div:nth-of-type(8) {
    animation-delay: 0.75s;
}

.dots>div:nth-of-type(9) {
    animation-delay: 1s;
}

@keyframes fade {
    to {
        opacity: 0.2;
    }
}


/* ============ ANIMATION 9 ========= */

.loader {
    position: relative;
}

.outer,
.middle,
.inner {
    border: 3px solid transparent;
    border-top-color: #3cefff;
    border-right-color: #3cefff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin3 2s linear infinite;
}

.middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin3 1.75s linear reverse infinite;
}

.inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin3 1.5s linear infinite;
}

@keyframes spin3 {
    to {
        transform: rotate(360deg);
    }
}


/* ========== ANIMATION 10 ========= */

.loader2 {
    display: flex;
    width: 3.5em;
    height: 3.5em;
    border: 3px solid transparent;
    border-top-color: #3cefff;
    border-bottom-color: #3cefff;
    border-radius: 50%;
    animation: spin4 1.5s linear infinite;
}

.loader2:before {
    content: '';
    display: block;
    margin: auto;
    width: 0.75em;
    height: 0.75em;
    border: 3px solid #3cefff;
    border-radius: 50%;
    animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin4 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}


/* ========= ANIMATION 11 ========== */

.svg1 {
    width: 3.75em;
    animation: 1.5s spin5 ease infinite;
}

.ring {
    fill: none;
    stroke: hsla(341, 97%, 59%, 0.3);
    stroke-width: 2;
}

.ball {
    fill: #fc2f70;
    stroke: none;
}

@keyframes spin5 {
    to {
        transform: rotate(360deg);
    }
}


/* ========== ANIMATION 12 ========= */

.svg2 {
    width: 3.75em;
    transform-origin: center;
    animation: rotate 2s linear infinite;
}

circle {
    fill: none;
    stroke: #fc2f70;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dashoffset: -125px;
    }
}


/* ========= ANIMATION 13 ========= */

.loader3 {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin6 1s linear infinite;
}

@keyframes spin6 {
    to {
        transform: rotate(360deg);
    }
}


/* ========= ANIMATION 14 ========= */

.balls1 {
    width: 3.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.balls1 div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #fc2f70;
    transform: translateY(-100%);
    animation: wave 0.8s ease-in-out alternate infinite;
}

.balls1 div:nth-of-type(1) {
    animation-delay: -0.4s;
}

.balls1 div:nth-of-type(2) {
    animation-delay: -0.2s;
}

@keyframes wave {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}