.button {
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 1.15rem 2.75rem;
  font-weight: $font-medium;
  border-radius: 3rem;
  transition: 0.3s;

  &:hover {
    background-color: $first-color-alt;
  }
}
