.header {
  width: 100%;
  background-color: $body-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__close,
  &__toggle {
    color: $title-color;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    font-weight: $font-medium;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
}
