@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// ========= VARIABLES CSS ==========

$header-height: 3.5rem; /*56px*/

/* ========== Colors ========== */
/* Color mode HSL (hue, saturation, lightness) */

// Purple: hsl(250, 66%, 75%)
// Blue: hsl(270, 90%, 72%)
// Pink: hsl(356, 66%, 75%)
// Teal: hsl(174, 63%, 62%)

$first-hue: 250;
$sat: 66%;
$lig: 75%;
$second-hue: 219;

$first-color: hsl($first-hue, $sat, $lig);
$first-color-alt: hsl($first-hue, $sat, 71%); //-4% Giúp cho màu đậm hơn
$title-color: hsl($second-hue, 15%, 95%);
$text-color: hsl($second-hue, 8%, 75%);
$text-color-light: hsl($second-hue, 4%, 55%);
$body-color: hsl($second-hue, 48%, 8%);
$container-color: hsl($second-hue, 32%, 12%);

/* =========== Font and typography =========== */
/* .5rem - 8px | 1rem = 16px */
$body-font: 'Poppins', sans-serif;

$biggest-font-size: 1.75rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;
$tiny-font-size: 0.625rem;

/* ========= Font weight ========= */
$font-medium: 500;
$font-semi-bold: 600;

/* =========== Margenes Bottom =========== */
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

/* ========== z-index ========== */
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

// Breakpoints
$width-sm: 576px; // small devices (phones)
$width-md: 768px; // medium devices, portrail tables & large phones
$width-lg: 992px; // large, laptops/ desktops
$width-xl: 1400px; // extra large, laptops / desktops
$width-xxl: 1440px; // extra large

/* Responsive typography */
@include media-breakpoint-down(lg) {
  $biggest-font-size: 2.5rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
}
