// ========== REUSABLE CSS CLASSES ============
.container {
  max-width: 1024px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;

  &__title,
  &__title-center {
    position: relative;
    font-size: $h3-font-size;
    margin-bottom: $mb-3;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  &__title-center {
    text-align: center;
  }

  &__title::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background-color: $first-color;
  }
}
