// ========== REUSABLE CSS CLASSES ==========
.container {
  max-width: $tablet;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title {
  font-size: $h2-font-size;
  margin-bottom: $mb-2-5;
  text-align: center;
}
